{% extends "admin/base_site.html" %}
{% load static %}

{% block bodyclass %}{{ block.super }} onedu-admin-workspace{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/admin.css' %}?v=20260721-certificate-preview">
{% endblock %}

{% block responsive %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
<link rel="stylesheet" href="{% static 'admin/css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'css/admin_responsive.css' %}?v=20260918-final">
<script src="{% static 'js/admin_responsive.js' %}?v=20260918-cards" defer></script>
<link rel="stylesheet" href="{% static 'css/form_feedback.css' %}?v=20260918">
<script src="{% static 'js/form_feedback.js' %}?v=20260918" defer></script>
{% endblock %}

{% block nav-sidebar %}
  {% if has_permission %}
    {% include "admin/includes/operations_sidebar.html" %}
  {% endif %}
{% endblock %}
